/* GENERAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white
}

/* HEADER */

header{
    background-color: rgba(25, 25, 25, 0.8);
}

header span{
    color: #00cdce;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 5px;
    align-items: center;
}

.header__content h1{
    font-size: 4.2rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.header__content li{
    list-style: none;
    display: inline;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 5px 15px 5px;
    margin: 0 15px 0;
    border-bottom: 2px solid white;
    transition: all .2s;
}

.header__content a{
    text-decoration: none;
    color: white;
    transition: all .5s;
}


.header__content li:hover a{
    color: #00cdce;
    
}

.header__content li:hover{
    border-bottom: 0px;
}






